%h1 Choose you challenge!
#card_container
  = image_tag('card.jpg', :class => 'card')
  = image_tag('card.jpg', :class => 'card')
  = image_tag('card.jpg', :class => 'card')
  %span{:class => 'stretch'}




