.topbar
  .topbar-inner
    .container-fluid
      = tabs

#Main
  %h1 Command line info:
  %p
    Most of the challenges are command-line based and there are a number of useful commands users can use to complete them:

  %p
    The command line interface (bash shell) can be launched by clicking the "terminal" icon in the lower-left corner of the status bar, or by pressing CTRL+T.

  %p
    navigate to folders - "cd [directory name]"
    display current folder content - "ls"
    return to parent folder - "cd .."
