.topbar
  .topbar-inner
    .container-fluid
      = tabs

#Main
  %h1 Learning resources:

  %p
    Useful info on the bash shell - http://www.tldp.org/LDP/Bash-Beginners-Guide/html/Bash-Beginners-Guide.html

  %p
    Using bash to create scripts - http://tldp.org/LDP/Bash-Beginners-Guide/html/sect_02_01.html