.topbar
  .topbar-inner
    .container-fluid
      = tabs

%h1 Security & Forensics Challenge

%b Afternoon

%p You have been boasting on the infosec forums that you are a technical genius & know more about penetration testing & computer forensics investigation than anyone else. GCHQ & the NSA have nothing on you.

%p These claims haven't gone un noticed and you have been invited to join THE GAME and prove yourself.

%p The game is a series of challenges some of which are theoretical and others practical. Each time you complete a challenge your designated robot is moved around a course. The first to the end wins.

%p To accept the challenge go to the "Getting Started" page and follow the instructions.

%b And to the victor goes the spoils!