.topbar
  .topbar-inner
    .container-fluid
      = tabs

#Main
  %h1 Security & Forensics Challenge

  = image_tag('challenges.jpg', :class => 'challenge')

  %h3 Welcome challenger!

  %p You have been boasting on the infosec forums that you are a technical genius & know more about penetration testing & computer forensics investigation than anyone else. Aparently GCHQ & the NSA have nothing on you!

  %p These claims haven't gone un noticed and you have been invited to join THE GAME and prove yourself.

  %p Each challenger is represented by a robot character, who will make their way around a set course. The challenger undertakes a series of questions some of which are theoretical and others practical. Each time you complete a challenge your designated robot is moved around a course. The first to the end wins.

  %p To accept the challenge go to the "Getting Started" page where you will receive further instructions.

  %b And to the victor goes the spoils!