#Forms
  #login
    %fieldset
      %legend Log In
      = render :partial => "devise/sessions/new"

  #new_user
    %fieldset
      %legend Create New User
      = render :partial => "devise/registrations/new"